{
    "$schema": "https://json.schemastore.org/swcrc",
    "sourceMaps": true,
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "decorators": true,
        "dynamicImport": true
      },
      "transform": {
        "legacyDecorator": true,
        "decoratorMetadata": true
      },
      "baseUrl": "./",
      "paths": {
        "@src/*": ["src/*"],
        "@commons/*":["src/commons/*","src/commons/adapter/*","src/commons/domain/*","src/commons/infrastructure/*","src/commons/usecases/*"],
        "@users/*":["src/users/*","src/users/adapter/*","src/users/domain/*","src/users/infrastructure/*","src/users/usecases/*"],
        "@auth/*":["src/auth/*","src/auth/adapter/*","src/auth/domain/*","src/auth/infrastructure/*","src/auth/usecases/*"]
      }
    },
    "minify": false
  }